include README.md
include README.rst
include CHANGELOG.md
include LICENSE
include pyproject.toml
include pytest.ini
include setup.cfg
include tox.ini
include requirements-dev.txt
include certification-matrix.json

recursive-include IfxAlchemy *.py
recursive-include constraints *.txt

prune test
